.form {
  width: 40rem;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  border: 1px solid black;
  margin-top: 5rem;

  h3 {
    padding-bottom: 1rem;
  }

  .input-container {
    position: relative;
    padding: 1rem 0;
    margin: 0 auto;

    &:first-child {
      padding-top: 3rem;
    }

    input {
      width: 100%;
      padding: 0rem 1rem;
      border: none;
      border-bottom: 0.1rem solid black;
      outline: none;
      font-size: 1rem;

      &:focus + label,
      &:valid + label,
      &:hover + label {
        transform: translateY(-2rem);
        transition: all 0.3s;
        color: black;
      }
    }

    label {
      position: absolute;
      left: 0%;
      bottom: 1rem;
      transition: all 0.3s;

      &:first-child {
        bottom: 3rem;
      }

      &:hover {
        transform: translateY(-2rem);
      }
    }
  }
  button {
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    transition: 0.3s all;
    margin-top: 1rem;

    &:hover {
      transform: scale(1.1);
      box-shadow: -1px -1px 0 black;
    }
  }
}
