@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Dancing+Script:wght@700&display=swap");
.cover {
  width: 100vw;
  position: relative;
  video {
    width: 100%;
  }

  .left {
    position: absolute;
    color: #49500f;
    left: 5%;
    top: 17%;
    letter-spacing: 0.7rem;
    font-family: Dancing Script;
    font-size: 4rem;
    -webkit-text-stroke: 0.2px black;
  }

  .right {
    position: absolute;
    color: black;
    right: 13%;
    bottom: 30%;
    text-align: center;
    letter-spacing: 1rem;
    font-size: 6rem;

    span {
      color: white;
      font-family: Dancing Script;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #49500f,
        0 0 20px #49500f, 0 0 25px #49500f, 0 0 30px #49500f, 0 0 35px #49500f,
        0 0 20px #49500f, 0 0 25px #49500f, 0 0 30px #49500f, 0 0 35px #49500f;
    }
  }
}

@media (max-width: 1199.98px) {
  .cover {
    h1 {
      font-size: 5rem;
    }

    .left {
      font-size: 3rem;
    }
    .right {
      font-size: 4rem;
    }
  }
}

@media (max-width: 991.98px) {
  .cover {
    h1 {
      font-size: 2rem;
    }
    .left {
      font-size: 1.7rem;
    }
    .right {
      font-size: 2.6rem;
    }
  }
}

@media (max-width: 767.98px) {
  .cover {
    .left {
      font-size: 1.3rem;
    }
    .right {
      font-size: 2rem;
    }
  }
}

@media (max-width: 575.98px) {
  .cover {
    h1 {
      font-size: 1rem;
    }

    .left {
      font-size: 0.9rem;
    }
    .right {
      font-size: 1rem;
    }
  }
}
