.Seccion0conteiner {
  position: relative;
  width: 100%;

  h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-family: sans-serif;
  }
}
.parrafo {
  background-color: grey;
  width: 100%;
  padding: 10px 10px;
  font-size: 17px;
  line-height: 1.5;
  img {
    float: right;
  }

  p {
    color: white;
    font-family: sans-serif;
  }
}
@media screen and (max-width: 480px) {
  .Seccion0conteiner {
    h1 {
      width: 20px;
      font-size: 14px;
    }
  }
  .parrafo {
    p {
      font-size: 14px;
    }
    img {
      width: 100px;
    }
  }
}
