.Seccion0conteiner {
  position: relative;

  h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-family: sans-serif;
  }
}
.parrafo {
  background-color: grey;
  width: 100%;
  padding: 10px 10px;
  font-size: 17px;
  line-height: 1.5;
  img {
    float: right;
  }

  p {
    color: white;
    font-family: sans-serif;
  }
}
