.hola {
  background-image: url("https://www.roldan.gov.ar/uploads/2021/04/master-desarrollo-web-full-stack-MDF-grande.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-around;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
  }
}

@media screen and (max-width: 1500px) {
  .hola {
    p {
      font-size: 23px;
    }
    h1 {
      font-size: 50px;
    }
    .container {
      img {
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .hola {
    p {
      font-size: 18px;
    }
    h1 {
      font-size: 40px;
    }
    .container {
      img {
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .hola {
    p {
      font-size: 16px;
    }
    h1 {
      font-size: 35px;
    }
    .container {
      img {
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hola {
    p {
      font-size: 15px;
    }
    h1 {
      font-size: 30px;
    }
    .container {
      img {
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hola {
    .container {
      img {
        height: 100px;
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .hola {
    p {
      font-size: 14px;
    }
    h1 {
      font-size: 20px;
    }
    .container {
      img {
      }
    }
  }
}
