.Seccion0conteiner {
  position: relative;
  text-align: center;

  h1 {
    position: absolute;
    color: white;
    left: 50px;
    bottom: 0;
  }
}
.parrafo {
  text-align: center;
  font-weight: bold;
}
