.hola {
  background-image: url("https://userscontent2.emaze.com/images/1e2da0d8-a55f-4428-957d-a2baca810398/b9613af6c4badfbd8faf1594f13a7177.jpg");
  background-size: cover;
  text-align: center;

  font-weight: bold;
  color: white;

  h1 {
    color: white;
  }
}
.container {
  display: flex;
  justify-content: space-around;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
  }
}
@media screen and (max-width: 1500px) {
  .hola {
    p {
      font-size: 20px;
    }
    h1 {
      font-size: 40px;
    }
    .container {
      img {
      }

      a {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .hola {
    p {
      font-size: 18px;
    }
    h1 {
      font-size: 35px;
    }
    .container {
      img {
      }

      a {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .hola {
    p {
      font-size: 18px;
    }
    h1 {
      font-size: 40px;
    }
    .container {
      img {
      }

      a {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hola {
    p {
      font-size: 16px;
    }
    h1 {
      font-size: 25px;
    }
    .container {
      img {
      }

      a {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hola {
    .container {
      img {
        height: 100px;
        width: auto;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .hola {
    p {
      font-size: 14px;
    }
    h1 {
      font-size: 20px;
    }
    .container {
      img {
      }

      a {
        width: 200px;
      }
    }
  }
}
