.a {
  background-image: url("https://img.freepik.com/vector-gratis/fondo-textura-elegante-blanco_23-2148434801.jpg?size=626&ext=jpg");
  background-size: cover;
  .Seccion5 {
    background-color: rgb(228, 196, 154);
    padding: 50px 50px;
    margin: 0px 150px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 150px;
    box-shadow: 0 0 50px 2px black;

    img {
      box-shadow: 0 0 10px 2px rgb(73, 122, 108);
    }
    h2 {
      font-family: sans-serif;
    }
    p {
      margin: 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  .a {
    .Seccion5 {
      align-items: center;
      margin: 10px 20px;
      input {
        width: auto;
        height: 30px;
      }
      img {
        width: 70px;
      }
      h2 {
        font-size: 20px;
      }
      p {
        width: 100%;
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .a {
    .Seccion5 {
      align-items: center;
      margin: 10px 20px;
      input {
        width: auto;
        height: 30px;
      }
      img {
        width: 70px;
      }
      h2 {
        font-size: 20px;
      }
      p {
        width: 100%;
        font-size: 13px;
      }
    }
  }
}
