.hola {
  background-image: url("https://ichi.pro/assets/images/max/724/1*WqkK2LQjbRUxk2AGR4CiqA.jpeg");

  text-align: center;

  font-weight: bold;
  color: white;
}
.container {
  display: flex;
  justify-content: space-around;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
  }
}
