.a {
  background-color: beige;
  .Seccion5 {
    background-color: burlywood;
    padding: 50px 50px;
    margin: 0px 150px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 10px;

    img {
    }
    p {
      margin: 20px;
    }
  }
}
