.Seccion0conteiner {
  position: relative;
  text-align: center;

  h1 {
    position: absolute;
    color: white;
    left: 50px;
    bottom: 0;
  }
}
.parrafo {
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .Seccion0conteiner {
    h1 {
      width: 20px;
      font-size: 16px;
      left: 10px;
    }
  }
  .parrafo {
    font-size: 14px;
  }
}
