@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    padding: 10px;
    border-bottom: 5px solid #F7F7F7;
    padding: 20px 100px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width:200%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}