.cards-container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  width: 30%;
  height: 25rem;
  border: 0.1rem solid lightgray;
  margin: 1.5rem;

  &:hover {
    cursor: pointer;
  }
}

.card-info {
  text-align: center;
  padding-top: 1rem;

  p {
    margin: 0;
  }

  h3 {
    margin: 1rem;
    font-size: 2rem;
  }
}

.info-container {
  display: flex;
  margin-top: 3rem;
  justify-content: space-around;

  p {
    font-size: 1.4rem;
    font-weight: 400;
  }
}
